body {
    margin: 0;
    font-family: Arial;
    background: #f8f3eb;
}

.container {
    width: 95%;
    margin: auto;
}

h1 {
    text-align: center;
}

.layout {
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
}

select, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    background: #c97b63;
    color: white;
    border: none;
    cursor: pointer;
}

.map-card {
    position: relative;
}

canvas {
    width: 100%;
    border: 1px solid #ccc;
}

.popup {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 220px;
    background: #fffaf4;
    border: 1px solid #d8c7b6;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0 8px 18px rgba(0,0,0,0.1);
    font-size: 14px;
    z-index: 10;
}

.hidden {
    display: none;
}